@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient( to right bottom, #33799d, #b4e9eb);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}

header {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 60px;
}

.counters {
    color: #fff;
    padding: 40px 20px;
    border-top: 3px white solid;
}

.counters .container {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.counters i {
    color: #fff;
    margin-bottom: 5px;
}

.counters .counter {
    margin: 10px 0;
}